html {
    padding: 0;
    margin: 0;

}

body {
    font-family: "Montserrat", sans-serif;
}


* {
    box-sizing: border-box;
}

/* Navbar */

.navbar {
    background-color: black ! important;
    z-index: 1;

}

.navbar {

    .btn {
        background-color: #FF9204 !important;
        color: white !important;
        border-radius: 30px !important;
        font-family: roboto !important;
        font-weight: bold !important;
        padding: 10 !important;
        padding-left: 10px !important;
        width: 120px;
        font-size: 15px;
        border: none;

    }

    .nav-item {
        margin-right: 50px;
        font-size: 12px;

    }

    .navbar-nav {
        margin-left: 200px !important;

    }

    a ::after {
        content: '';
        width: 0;
        height: 2px;
        background-color: #FF9204;
        display: block;
        margin: auto;
        transition: .5s;
    }



    a ::hover ::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #FF9204;
        display: block;
        margin: auto;
    }





    a {
        color: white !important;
        transition: .5s;
        font-weight: bold;
        letter-spacing: 1px;
    }



    img {
        height: 60px;

    }


}



/* Hedder */


header {
    margin-top: -300px;
    padding-top: 420px;
    height: 146vh;
    background: rgb(13, 58, 96);
    background: linear-gradient(180deg, rgba(13, 58, 96, 1) 0%, rgba(0, 0, 0, 1) 75%);
    background-size: cover;
    position: static;
}

header {

    .col-9 {
        margin-top: 50px;
        z-index: 7;
    }

    .job {
        margin-top: -14px;
        font-size: 18px;
        font-weight: 100;
    }

    .gambar {
        z-index: 1;
        position: relative;
        height: 400px;
        top: 100px;

    }

    .lingkaran {
        z-index: 0;
        position: relative;
        bottom: 420px;
        left: 720px;
        width: 35%;

    }

    .hire {


        .btn {
            background-color: #FF9204;
            border: none;
            border-radius: 8px;
            padding: 10px;
            width: 150px;
            height: 50px;
            align-items: center;
            box-shadow: 0px 0px 10px rgb(255, 146, 4);

        }

        .btn:hover {

            opacity: 90%;
        }
    }

    .cv {
        .btn {

            border: white solid 1px;
            border-radius: 8px;
            color: white !important;
            font-weight: bold;
            padding: 10px;
            width: 150px;
            position: relative;
            height: 50px;
            right: 50px;
            background-color: none;
        }

        .btn:hover {

            opacity: 90%;
        }
    }

    .kotak {
        border: #FF9204 solid 3px;
        height: 300px;
        width: 250px;
        position: absolute;
        float: right;
        bottom: 180px;
        right: 250px;
    }

    .kotak1 {
        border: #FF9204 solid 3px;
        height: 300px;
        width: 250px;
        position: absolute;
        float: right;
        bottom: 150px;
        right: 210px;
    }

    .social-icons {

        position: relative;
        top: 200px;
        left: 100px;

        ul {
            color: cornsilk;
            cursor: pointer;
            z-index: 10;
            height: 400px;
        }

        ul li {
            list-style: none;
            margin-top: 20px;
            transition: .5s;
        }

        ul li .fa {
            font-size: 20px;

        }

        ul li:hover {
            color: #FF9204;
        }
    }

    .hello {

        font-size: 30px;
        font-weight: 100;
        margin-bottom: 40px;
        color: #FF9204;
        z-index: 3;


    }

    .name {

        font-size: 70px;
        font-family: Rockwell;
        font-weight: bold;
        margin-top: -40px;
        z-index: 2;
        letter-spacing: 9px;

    }


}






/* .lingkaran2 {
	
	opacity:;
	position: relative;
	left: 1000px;
	bottom: 500px;
}

.lingkaran2 img {
	height: 250px;
	width: 250px;
	opacity: 70%;
	z-index: -1;
	position: absolute;
} */





/* Section */


section.bg {
    background: rgb(13, 58, 96);
    background: linear-gradient(360deg, rgba(13, 58, 96, 1) 0%, rgba(0, 0, 0, 1) 88%);
    height: 400vh;

}

.about {

    p {
        margin-top: 10px;
        font-family: roboto;
        letter-spacing: 3px;
        font-size: 18px;
        color: white;
    }

    h1 {
        color: white;
    }

    hr {
        border: 2px solid #FF9204;
        width: 104px;
        position: relative;
        bottom: 40px;
    }

    span {
        color: #FF9204;
    }

    .kotak {
        background-color: #FF9204;
        height: 500px;
        width: 200px;
        position: relative;
        border-radius: 0 0 0 50px;
        margin-right: 100px;
        right: 30px;
        bottom: 40px;
        ;
    }

    img {
        height: 400px;
        width: 270px;
        position: absolute;
        z-index: 1;
        border-radius: 20px;
        box-shadow: 0px 0px 50px rgb(0, 0, 0);
    }

    .content {
        margin-top: 200px;
    }

    .judul-section {
        color: white;
    }

    .more {

        border: solid 2px #FF9204;
        width: 120px;
        padding: 6px;
        font-family: roboto;
        color: white;
        transition: .3s;
    }

    .more:hover {
        background-color: #FF9204;
        color: white;
    }



}

.about {
    padding-top: 100px;
}


.text-border-about {
    font-size: 300px;
    position: absolute;
    -webkit-text-stroke: 1px white;
    ;
    color: transparent;
    right: 400px;
    opacity: 10%;
    margin-top: 100px;

}

// AKhir About




h1.text-border-skill {
    font-size: 300px;
    position: absolute;
    -webkit-text-stroke: 1px white;
    ;
    color: transparent;
    right: 400px;
    opacity: 10%;
    margin-top: 200px;
    // -webkit-transform: rotate(30deg);
    // -moz-transform: rotate(30deg);
    // -ms-transform: rotate(30deg);
    // -o-transform: rotate(30deg);

}



/* Skill */
.skill {
    padding: 100px;
    height: 120vh;
    box-sizing: border-box;

}

.skill {
    .polygon {
        position: relative;
        float: right;
        bottom: 500px;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);

    }

    .skills {

        height: 300px;
        width: 65%;
        background-color: black;
        margin-top: 100px;
        margin: auto;
        border-radius: 30px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
        padding-top: 50px;
        transition: .5s;

        .judul {
            margin-top: 20px;
            color: #FF9204;
            font-family: "Roboto";
            font-weight: bold;
            text-align: justify;
        }

        .desc {
            margin-top: 20px;
            color: #ACACAC !important;
            font-family: "Roboto";
            text-align: justify !important;
            font-size: 15px;
            padding: 2px 20px;

        }

        .logo {
            height: 70px;
            text-align: justify;

        }

    }

    .skills:hover {
        border: #FF9204 solid 1px;
        box-shadow: 0px 0px 50px rgba(255, 146, 4, 0.5)
    }

    h1 {
        font-weight: bold;
        margin-bottom: 10px;
    }

    hr {
        border: 1px solid #FF9204;
        width: 50px;
        margin-bottom: 80px;
    }


    .row {
        padding: -100px;
    }


}














/* AKhirs skill */



/* Portfolo */

.project-tile {
    height: 100vh;
    margin-top: 50px;
}

.project-tile {

    h1 {
        font-weight: bold;
    }

    hr {
        border: 1px solid #FF9204;
        width: 104px;
        margin-bottom: 80px;
    }

    .filter-button {
        ul li {
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            font-weight: bold;
            margin: 0 10px;
            text-transform: uppercase;
        }
    }

    .filter-button {
        text-align: center;
    }

    ul li.active {
        color: #FF9204;
    }

    ul li {
        color: white;
    }

    ul li:hover {
        color: #FF9204
    }
}









.contact {
    background: rgb(0, 0, 0);
    background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(15, 55, 90, 1) 100%);
    height: 120vh;
    padding-top: 200px;
}

.contact .row {

    justify-content: center;
}

form {
    padding-left: 0px;
}

.contact img {
    width: 220px;
    margin-top: 50px;

}

.form-control {
    border-radius: 17px !important;
}

input.message {
    height: 120px;
}

.form-group {
    padding-top: 10px;
}

.contact .btn {
    background-color: #FF9204;
    border: none;
    border-radius: 20px !important;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
}

label {
    font-size: 12px;
}

.contact hr {
    border: 2px solid #FF9204;


    bottom: 40px;

}




.contact .bungkus3 {
    background-color: #061C2E;

    z-index: 3;
    border-radius: 16px;
    min-height: 400px;
    box-shadow:
        2px 2px 6px 2px #061928,
        -2px -2px 6px 2px #fff;



}

/* .contact .bungkus2 {
	background-color:#061928;
	height: 100px;
	z-index: 2;
	margin-bottom: 100px;
	position: relative;
} */


/* .contact .bungkus1 {
	background-color:#FFFFFF;
	height: 100px;
	filter: blur(3px);
	z-index: 1;
} */

.segitiga {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 50px solid #000CB7;
    opacity: 23%;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

#footer {
    background: black;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

#footer .socials-media {
    width: 100%;
}

#footer .socials-media ul {
    display: inline-block;
    float: none;
    margin: 0 0 20px 0;
}

#footer .socials-media ul li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#footer .socials-media ul li a {
    font-size: 24px;
    color: white;
    letter-spacing: 0.1em;
    font-weight: 500;
    background: transparent;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out 0s;
}

#footer .socials-media ul li a:hover {
    color: #b8a07e;
    transition: all 0.5s ease-in-out 0s;
}

#footer p {
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 500;
    margin-top: 0;
    text-transform: uppercase;
}